// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --zz-color-dark-primary: black;
  // --ep-color-primary: green;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif, "neue-haas-grotesk-display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.web-text {
  font-size: 20px;
  line-height: 1.5;
  // color: red;
}

// 子页开屏背景图
.wrapper-background {
  width: 100%;
  min-height: 100%;
  background: url("./../assets/home-test.png") center center no-repeat;
  background-size: 100% 100%;
  position: fixed;
  z-index: -1;
  overflow: auto;
}

.wrapper-sketch {
  padding: 100px 0 120px 0;
}

.wrapper-sketch-text {
  color: white;
  /* border: 1px solid red; */
}

.wrapper-sketch-text-title {
  font-size: 36px;
  font-weight: 500;
}

.wrapper-sketch-text-subtitle {
  font-size: 70px;
  font-weight: bold;
}

.wrapper-sketch-text-content {
  font-size: 26px;
  font-weight: 100;
}

// a {
//   color: var(--ep-color-primary);
// }


// code {
//   border-radius: 2px;
//   padding: 2px 4px;
//   background-color: var(--ep-color-primary-light-9);
//   color: var(--ep-color-primary);
// }